openapi: 3.0.3
info:
  title: WIA AI Sensor Fusion
  version: 1.0.0
  description: Multi-sensor fusion pipeline registration and fused-state retrieval
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/sensor-fusion/v1
  description: Production
- url: https://api-staging.wia.live/sensor-fusion/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /sensors:
    get:
      summary: List Sensor
      operationId: listSensor
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of sensors
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sensor'
                  total:
                    type: integer
    post:
      summary: Create Sensor
      operationId: createSensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sensor'
  /sensors/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Sensor by id
      operationId: getSensor
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sensor'
        '404':
          description: Not found
    put:
      summary: Replace Sensor
      operationId: replaceSensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Sensor
      operationId: deleteSensor
      responses:
        '204':
          description: Deleted
  /pipelines:
    get:
      summary: List FusionPipeline
      operationId: listFusionPipeline
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of pipelines
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FusionPipeline'
                  total:
                    type: integer
    post:
      summary: Create FusionPipeline
      operationId: createFusionPipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FusionPipeline'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FusionPipeline'
  /pipelines/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get FusionPipeline by id
      operationId: getFusionPipeline
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FusionPipeline'
        '404':
          description: Not found
    put:
      summary: Replace FusionPipeline
      operationId: replaceFusionPipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FusionPipeline'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete FusionPipeline
      operationId: deleteFusionPipeline
      responses:
        '204':
          description: Deleted
  /fused-states:
    get:
      summary: List FusedState
      operationId: listFusedState
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of fused-states
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FusedState'
                  total:
                    type: integer
    post:
      summary: Create FusedState
      operationId: createFusedState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FusedState'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FusedState'
  /fused-states/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get FusedState by id
      operationId: getFusedState
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FusedState'
        '404':
          description: Not found
    put:
      summary: Replace FusedState
      operationId: replaceFusedState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FusedState'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete FusedState
      operationId: deleteFusedState
      responses:
        '204':
          description: Deleted
  /calibrations:
    get:
      summary: List Calibration
      operationId: listCalibration
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of calibrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Calibration'
                  total:
                    type: integer
    post:
      summary: Create Calibration
      operationId: createCalibration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calibration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calibration'
  /calibrations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Calibration by id
      operationId: getCalibration
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calibration'
        '404':
          description: Not found
    put:
      summary: Replace Calibration
      operationId: replaceCalibration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calibration'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Calibration
      operationId: deleteCalibration
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Sensor:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        rate:
          type: number
          format: double
        status:
          type: string
      required:
      - id
    FusionPipeline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        sensors:
          type: array
          items: {}
        algorithm:
          type: string
      required:
      - id
    FusedState:
      type: object
      properties:
        pipelineId:
          type: string
        timestamp:
          type: string
          format: date-time
        state:
          type: object
          additionalProperties: true
        covariance:
          type: array
          items: {}
      required:
      - pipelineId
    Calibration:
      type: object
      properties:
        id:
          type: string
        sensorId:
          type: string
        transform:
          type: object
          additionalProperties: true
      required:
      - id
