openapi: 3.0.3
info:
  title: WIA AI Safety Physical
  version: 1.0.0
  description: Safety-zone definition and enforcement for physically-acting AI systems
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/ai-safety-physical/v1
  description: Production
- url: https://api-staging.wia.live/ai-safety-physical/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /safety-zones:
    get:
      summary: List SafetyZone
      operationId: listSafetyZone
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of safety-zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SafetyZone'
                  total:
                    type: integer
    post:
      summary: Create SafetyZone
      operationId: createSafetyZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SafetyZone'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyZone'
  /safety-zones/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get SafetyZone by id
      operationId: getSafetyZone
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyZone'
        '404':
          description: Not found
    put:
      summary: Replace SafetyZone
      operationId: replaceSafetyZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SafetyZone'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete SafetyZone
      operationId: deleteSafetyZone
      responses:
        '204':
          description: Deleted
  /hazards:
    get:
      summary: List Hazard
      operationId: listHazard
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of hazards
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hazard'
                  total:
                    type: integer
    post:
      summary: Create Hazard
      operationId: createHazard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hazard'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hazard'
  /hazards/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Hazard by id
      operationId: getHazard
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hazard'
        '404':
          description: Not found
    put:
      summary: Replace Hazard
      operationId: replaceHazard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hazard'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Hazard
      operationId: deleteHazard
      responses:
        '204':
          description: Deleted
  /incidents:
    get:
      summary: List Incident
      operationId: listIncident
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
                  total:
                    type: integer
    post:
      summary: Create Incident
      operationId: createIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incident'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
  /incidents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Incident by id
      operationId: getIncident
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
        '404':
          description: Not found
    put:
      summary: Replace Incident
      operationId: replaceIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incident'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Incident
      operationId: deleteIncident
      responses:
        '204':
          description: Deleted
  /emergency-stops:
    get:
      summary: List EmergencyStop
      operationId: listEmergencyStop
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of emergency-stops
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmergencyStop'
                  total:
                    type: integer
    post:
      summary: Create EmergencyStop
      operationId: createEmergencyStop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyStop'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyStop'
  /emergency-stops/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get EmergencyStop by id
      operationId: getEmergencyStop
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyStop'
        '404':
          description: Not found
    put:
      summary: Replace EmergencyStop
      operationId: replaceEmergencyStop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyStop'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete EmergencyStop
      operationId: deleteEmergencyStop
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    SafetyZone:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        polygon:
          type: array
          items: {}
        hazardLevel:
          type: string
      required:
      - id
    Hazard:
      type: object
      properties:
        id:
          type: string
        zoneId:
          type: string
        type:
          type: string
        severity:
          type: string
      required:
      - id
    Incident:
      type: object
      properties:
        id:
          type: string
        zoneId:
          type: string
        agentId:
          type: string
        description:
          type: string
      required:
      - id
    EmergencyStop:
      type: object
      properties:
        id:
          type: string
        zoneId:
          type: string
        triggeredBy:
          type: string
        triggeredAt:
          type: string
          format: date-time
      required:
      - id
