openapi: 3.0.3
info:
  title: WIA Permafrost Protection
  version: 1.0.0
  description: Permafrost monitoring station registration, thermal observations, and degradation alerts
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/permafrost/v1
  description: Production
- url: https://api-staging.wia.live/permafrost/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /stations:
    get:
      summary: List Station
      operationId: listStation
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of stations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Station'
                  total:
                    type: integer
    post:
      summary: Create Station
      operationId: createStation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Station'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
  /stations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Station by id
      operationId: getStation
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
        '404':
          description: Not found
    put:
      summary: Replace Station
      operationId: replaceStation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Station'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Station
      operationId: deleteStation
      responses:
        '204':
          description: Deleted
  /observations:
    get:
      summary: List Observation
      operationId: listObservation
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of observations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Observation'
                  total:
                    type: integer
    post:
      summary: Create Observation
      operationId: createObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Observation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Observation'
  /observations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Observation by id
      operationId: getObservation
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Observation'
        '404':
          description: Not found
    put:
      summary: Replace Observation
      operationId: replaceObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Observation'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Observation
      operationId: deleteObservation
      responses:
        '204':
          description: Deleted
  /alerts:
    get:
      summary: List Alert
      operationId: listAlert
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
                  total:
                    type: integer
    post:
      summary: Create Alert
      operationId: createAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
  /alerts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Alert by id
      operationId: getAlert
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '404':
          description: Not found
    put:
      summary: Replace Alert
      operationId: replaceAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Alert
      operationId: deleteAlert
      responses:
        '204':
          description: Deleted
  /boreholes:
    get:
      summary: List Borehole
      operationId: listBorehole
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of boreholes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Borehole'
                  total:
                    type: integer
    post:
      summary: Create Borehole
      operationId: createBorehole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Borehole'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Borehole'
  /boreholes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Borehole by id
      operationId: getBorehole
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Borehole'
        '404':
          description: Not found
    put:
      summary: Replace Borehole
      operationId: replaceBorehole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Borehole'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Borehole
      operationId: deleteBorehole
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Station:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        location:
          type: object
          additionalProperties: true
        activeLayerDepth:
          type: number
          format: double
      required:
      - id
    Observation:
      type: object
      properties:
        id:
          type: string
        stationId:
          type: string
        temperature:
          type: number
          format: double
        depth:
          type: number
          format: double
        timestamp:
          type: string
          format: date-time
      required:
      - id
    Alert:
      type: object
      properties:
        id:
          type: string
        stationId:
          type: string
        type:
          type: string
        severity:
          type: string
      required:
      - id
    Borehole:
      type: object
      properties:
        id:
          type: string
        stationId:
          type: string
        totalDepth:
          type: number
          format: double
        instruments:
          type: array
          items: {}
      required:
      - id
