openapi: 3.0.3
info:
  title: WIA Pet Genome
  version: 1.0.0
  description: Companion-animal genome data submission and breed/disease screening
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/pet-genome/v1
  description: Production
- url: https://api-staging.wia.live/pet-genome/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /samples:
    get:
      summary: List Sample
      operationId: listSample
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of samples
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sample'
                  total:
                    type: integer
    post:
      summary: Create Sample
      operationId: createSample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sample'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sample'
  /samples/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Sample
      operationId: getSample
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sample'
        '404':
          description: Not found
    put:
      summary: Replace Sample
      operationId: replaceSample
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sample'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Sample
      operationId: deleteSample
      responses:
        '204':
          description: Deleted
  /sequences:
    get:
      summary: List Sequence
      operationId: listSequence
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of sequences
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sequence'
                  total:
                    type: integer
    post:
      summary: Create Sequence
      operationId: createSequence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sequence'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sequence'
  /sequences/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Sequence
      operationId: getSequence
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sequence'
        '404':
          description: Not found
    put:
      summary: Replace Sequence
      operationId: replaceSequence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sequence'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Sequence
      operationId: deleteSequence
      responses:
        '204':
          description: Deleted
  /breed-reports:
    get:
      summary: List BreedReport
      operationId: listBreedReport
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of breed-reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BreedReport'
                  total:
                    type: integer
    post:
      summary: Create BreedReport
      operationId: createBreedReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BreedReport'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedReport'
  /breed-reports/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get BreedReport
      operationId: getBreedReport
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedReport'
        '404':
          description: Not found
    put:
      summary: Replace BreedReport
      operationId: replaceBreedReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BreedReport'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete BreedReport
      operationId: deleteBreedReport
      responses:
        '204':
          description: Deleted
  /health-markers:
    get:
      summary: List HealthMarker
      operationId: listHealthMarker
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of health-markers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HealthMarker'
                  total:
                    type: integer
    post:
      summary: Create HealthMarker
      operationId: createHealthMarker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthMarker'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthMarker'
  /health-markers/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get HealthMarker
      operationId: getHealthMarker
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthMarker'
        '404':
          description: Not found
    put:
      summary: Replace HealthMarker
      operationId: replaceHealthMarker
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthMarker'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete HealthMarker
      operationId: deleteHealthMarker
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Sample:
      type: object
      properties:
        id:
          type: string
        petId:
          type: string
        collectedAt:
          type: string
          format: date-time
        status:
          type: string
      required:
      - id
    Sequence:
      type: object
      properties:
        id:
          type: string
        sampleId:
          type: string
        platform:
          type: string
        coverage:
          type: number
          format: double
      required:
      - id
    BreedReport:
      type: object
      properties:
        id:
          type: string
        sampleId:
          type: string
        primaryBreed:
          type: string
        composition:
          type: object
          additionalProperties: true
      required:
      - id
    HealthMarker:
      type: object
      properties:
        id:
          type: string
        sampleId:
          type: string
        marker:
          type: string
        riskCategory:
          type: string
      required:
      - id
