openapi: 3.0.3
info:
  title: WIA Accessible UI
  version: 1.0.0
  description: WCAG 2.1 AAA accessibility validation, contrast checking, ARIA management
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/accessible-ui/v1
  description: Production
- url: https://api-staging.wia.live/accessible-ui/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /audits:
    get:
      summary: List Audit
      operationId: listAudit
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of audits
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Audit'
                  total:
                    type: integer
    post:
      summary: Create Audit
      operationId: createAudit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Audit'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audit'
  /audits/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Audit by id
      operationId: getAudit
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audit'
        '404':
          description: Not found
    put:
      summary: Replace Audit
      operationId: replaceAudit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Audit'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Audit
      operationId: deleteAudit
      responses:
        '204':
          description: Deleted
  /violations:
    get:
      summary: List Violation
      operationId: listViolation
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of violations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Violation'
                  total:
                    type: integer
    post:
      summary: Create Violation
      operationId: createViolation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Violation'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Violation'
  /violations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Violation by id
      operationId: getViolation
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Violation'
        '404':
          description: Not found
    put:
      summary: Replace Violation
      operationId: replaceViolation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Violation'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Violation
      operationId: deleteViolation
      responses:
        '204':
          description: Deleted
  /components:
    get:
      summary: List Component
      operationId: listComponent
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of components
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
                  total:
                    type: integer
    post:
      summary: Create Component
      operationId: createComponent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
  /components/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Component by id
      operationId: getComponent
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
        '404':
          description: Not found
    put:
      summary: Replace Component
      operationId: replaceComponent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Component
      operationId: deleteComponent
      responses:
        '204':
          description: Deleted
  /contrast-checks:
    get:
      summary: List ContrastCheck
      operationId: listContrastCheck
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of contrast-checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContrastCheck'
                  total:
                    type: integer
    post:
      summary: Create ContrastCheck
      operationId: createContrastCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastCheck'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastCheck'
  /contrast-checks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get ContrastCheck by id
      operationId: getContrastCheck
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContrastCheck'
        '404':
          description: Not found
    put:
      summary: Replace ContrastCheck
      operationId: replaceContrastCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContrastCheck'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete ContrastCheck
      operationId: deleteContrastCheck
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Audit:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        level:
          type: string
        violations:
          type: integer
          format: int64
        status:
          type: string
      required:
      - id
    Violation:
      type: object
      properties:
        id:
          type: string
        ruleId:
          type: string
        impact:
          type: string
        element:
          type: string
        message:
          type: string
      required:
      - id
    Component:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        framework:
          type: string
        ariaScore:
          type: number
          format: double
      required:
      - id
    ContrastCheck:
      type: object
      properties:
        id:
          type: string
        foreground:
          type: string
        background:
          type: string
        ratio:
          type: number
          format: double
        passes:
          type: boolean
      required:
      - id
