openapi: 3.0.3
info:
  title: WIA Pet Care Robot
  version: 1.0.0
  description: 'Companion-pet robotic care: feeding, monitoring, and welfare interaction'
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/pet-care-robot/v1
  description: Production
- url: https://api-staging.wia.live/pet-care-robot/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /robots:
    get:
      summary: List Robot
      operationId: listRobot
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of robots
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Robot'
                  total:
                    type: integer
    post:
      summary: Create Robot
      operationId: createRobot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Robot'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Robot'
  /robots/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Robot
      operationId: getRobot
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Robot'
        '404':
          description: Not found
    put:
      summary: Replace Robot
      operationId: replaceRobot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Robot'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Robot
      operationId: deleteRobot
      responses:
        '204':
          description: Deleted
  /pets:
    get:
      summary: List Pet
      operationId: listPet
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of pets
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pet'
                  total:
                    type: integer
    post:
      summary: Create Pet
      operationId: createPet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
  /pets/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Pet
      operationId: getPet
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        '404':
          description: Not found
    put:
      summary: Replace Pet
      operationId: replacePet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Pet
      operationId: deletePet
      responses:
        '204':
          description: Deleted
  /care-sessions:
    get:
      summary: List CareSession
      operationId: listCareSession
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of care-sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CareSession'
                  total:
                    type: integer
    post:
      summary: Create CareSession
      operationId: createCareSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareSession'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareSession'
  /care-sessions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get CareSession
      operationId: getCareSession
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareSession'
        '404':
          description: Not found
    put:
      summary: Replace CareSession
      operationId: replaceCareSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareSession'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete CareSession
      operationId: deleteCareSession
      responses:
        '204':
          description: Deleted
  /schedules:
    get:
      summary: List Schedule
      operationId: listSchedule
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of schedules
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Schedule'
                  total:
                    type: integer
    post:
      summary: Create Schedule
      operationId: createSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
  /schedules/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Schedule
      operationId: getSchedule
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '404':
          description: Not found
    put:
      summary: Replace Schedule
      operationId: replaceSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Schedule
      operationId: deleteSchedule
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Robot:
      type: object
      properties:
        id:
          type: string
        model:
          type: string
        status:
          type: string
        battery:
          type: number
          format: double
      required:
      - id
    Pet:
      type: object
      properties:
        id:
          type: string
        species:
          type: string
        name:
          type: string
        ownerId:
          type: string
      required:
      - id
    CareSession:
      type: object
      properties:
        id:
          type: string
        robotId:
          type: string
        petId:
          type: string
        startedAt:
          type: string
          format: date-time
        activities:
          type: array
          items: {}
      required:
      - id
    Schedule:
      type: object
      properties:
        id:
          type: string
        petId:
          type: string
        type:
          type: string
        cron:
          type: string
      required:
      - id
