openapi: 3.0.3
info:
  title: WIA AI Human Coexistence
  version: 1.0.0
  description: Human detection, zone management, and safety arbitration for shared AI/human spaces
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/ai-human-coexistence/v1
  description: Production
- url: https://api-staging.wia.live/ai-human-coexistence/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /detections:
    get:
      summary: List Detection
      operationId: listDetection
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of detections
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Detection'
                  total:
                    type: integer
    post:
      summary: Create Detection
      operationId: createDetection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Detection'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  /detections/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Detection by id
      operationId: getDetection
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
        '404':
          description: Not found
    put:
      summary: Replace Detection
      operationId: replaceDetection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Detection'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Detection
      operationId: deleteDetection
      responses:
        '204':
          description: Deleted
  /zones:
    get:
      summary: List Zone
      operationId: listZone
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of zones
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Zone'
                  total:
                    type: integer
    post:
      summary: Create Zone
      operationId: createZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
  /zones/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Zone by id
      operationId: getZone
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '404':
          description: Not found
    put:
      summary: Replace Zone
      operationId: replaceZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Zone
      operationId: deleteZone
      responses:
        '204':
          description: Deleted
  /incidents:
    get:
      summary: List Incident
      operationId: listIncident
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
                  total:
                    type: integer
    post:
      summary: Create Incident
      operationId: createIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incident'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
  /incidents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Incident by id
      operationId: getIncident
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
        '404':
          description: Not found
    put:
      summary: Replace Incident
      operationId: replaceIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incident'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Incident
      operationId: deleteIncident
      responses:
        '204':
          description: Deleted
  /policies:
    get:
      summary: List Policy
      operationId: listPolicy
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
                  total:
                    type: integer
    post:
      summary: Create Policy
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
  /policies/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Policy by id
      operationId: getPolicy
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '404':
          description: Not found
    put:
      summary: Replace Policy
      operationId: replacePolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Policy
      operationId: deletePolicy
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Detection:
      type: object
      properties:
        id:
          type: string
        trackingId:
          type: string
        confidence:
          type: number
          format: double
        bbox:
          type: array
          items: {}
        timestamp:
          type: string
          format: date-time
      required:
      - id
    Zone:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        polygon:
          type: array
          items: {}
      required:
      - id
    Incident:
      type: object
      properties:
        id:
          type: string
        zoneId:
          type: string
        severity:
          type: string
        description:
          type: string
      required:
      - id
    Policy:
      type: object
      properties:
        id:
          type: string
        zoneId:
          type: string
        rule:
          type: string
        priority:
          type: integer
          format: int64
      required:
      - id
