.select-box-lang li a div::before {
	content: "";
	display: inline-block;
	position: absolute;
    top: 24px;
    left: 20px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.select-box-lang li a p {
	height: 24px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0 !important
}
.select-box-lang li a p + p {
	font-size: 12px;
	opacity: .6;
}

.img_nation {
	overflow: hidden;
	width: 22px;
	border: 1px solid #ccc;
	border-radius: 50%;
}
.lang-ko::before {
	background-image: url('../images/nation/lang_ko.png');
}
.lang-en::before {
	background-image: url('../images/nation/lang_en.png');
}
.lang-jp::before {
	background-image: url('../images/nation/lang_jp.png');
}
.lang-cn::before {
	background-image: url('../images/nation/lang_cn.png');
}
.lang-vn::before {
	background-image: url('../images/nation/lang_vn.png');
}
.lang-de::before {
	background-image: url('../images/nation/lang_de.png');
}
.app-vidio-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.app-vidio-box video {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	height: 100%;
	object-fit: cover;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.app-vidio-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
}
.img-size-1 {
	width: 300px;
	height: 420px;
	background-image: url('../images/gallery/img_th_1.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.img-size-2 {
	width: 198px;
	height: 153px;
	background-image: url('../images/gallery/img_th_2.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.img-size-3 {
	width: 115px;
	height: 145px;
	background-image: url('../images/gallery/img_th_3.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.sub-sm-tit {
	display: block;
	height: 18px;
	font-size: 12px;
	font-weight: 400;
    font-style: normal;
    opacity: .6;
}
.inner-text-bullet {
	margin-bottom: 0;
}	
.inner-text-bullet li {
	position: relative;
	text-align: left;
}
.inner-text-bullet li + li {
	margin-top: 6px;
}
.inner-text-bullet li p {
	margin-bottom: 0;
	line-height: 22px;
	letter-spacing: -.8px;
}
.inner-text-bullet li p::before {
	content: "";
	position: absolute;
	top: 9px;	
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #141d38;
}
.inner-text-bullet li p span {
	display: inline-block;
	padding-left: 8px;
}
.color-mint {
	color: #151718;
}
.site-link {
	display: block;
	position: relative;
	width: 100%;
	height: 120px;
	line-height: 120px;
}
.site-link img {
	position: absolute;
	top: 0;
}
.ico-custom {
	height: 80px;
	line-height: 80px;
	font-size: 60px;
	color: #0060ff;
}
.technology-block .icon-box img{
	width: 70px;
	height: 70px;
	margin: 10px auto;
	border: 3px solid #ddd;
    border-radius: 50%;
	padding: 4px;
}
.ceo-text {
	padding-top: 12px;
	padding-left: 60px;
	font-size: 18px;
}
.ceo-img {
	width: 100%
	margin: 0 auto;
}
.news-img {
	width: auto !important;
	height: 270px;
	margin: 0 auto;
}
.news-link {
	border: 1px solid #ddd;
	background-color: #fff !important;
}
.contact-section {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	background-color: #141d38;
	color: #fff;
}
.contact-section .inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 110px 15px;
}
.contact-section h2 {
	position: relative;
	font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.contact-section h3 {
	position: relative;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 15px;
}
.contact-section .col-lg-6:last-child {
	padding-left: 60px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.input_box p {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -1px;
}
.input_box input[type="text"] {
	width: 100%;
	height: 64px;
	color: #fff;
	padding: 20px 0;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #fff;
	background: transparent;
}
.input_box input[type="text"]::placeholder,
.input_box textarea::placeholder {
	color: #fff;
}
.input_box textarea {
	width: 100%;
	height: 100px;
	color: #fff;
	background: transparent;
	padding: 20px 0;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #fff;
	line-height: 30px;
}
input,textarea {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    outline:none;
    border-radius:0;
}
.input_box .submit {
	width: 300px;
	height: 54px;
	margin-top: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: -1px;
	border: 1px solid #fff;
	background: transparent;
	cursor: pointer;
}
.input_box button {
	width: 300px;
	height: 54px;
	margin-top: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: -1px;
	border: 1px solid #fff;
	background: transparent;
	cursor: pointer;
}
.footer-section {
	position: relative;
	width: 100%;
	background-color: #0d1528;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	text-align: left;
}
.footer-section .inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px 15px;
}
.footer-section p {
	opacity: .6;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.48);
	margin-bottom: 0;
	text-align: left;	
 }
.ctn_menu {
	margin-right: 41px;
	display: inline-block;
	text-align: left
}
.ctn_menu ul {
	margin-bottom: 8px;
}
.ctn_menu ul li {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: rgba(255, 255, 255, 0.6);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.ctn_menu ul li + li {
	margin-left: 10px;
	padding-left: 10px;
}
.ctn_menu li:first-of-type {
	border-left: none;
}
.ctn_menu li:last-of-type {
	padding: 0 0 0 21px;
}
.sns-list-box {
	margin-top: 40px;
}
.sns-list-box::after {
	content: "";
	display: block;
	clear: both;
}
.sns-list-box li {
	float: left;
	display: inline-block;
}
.sns-list-box li + li {
	margin-left: 10px;
}
.sns-list-box li a {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
}
.sns-list-box li a:hover {
	background-color: #fff;
}
.sns-list-box li a:hover i {
	color: #000;
}
.sns-list-box li a i {
	font-size: 20px;
	color: #fff;
}
.ctn_footer {
	text-align: left;
}
.etm_toggle .menu_btn {
    text-align: right;
}
.etm_toggle .menu_btn a {
    display: inline-block;
	padding: 25px 30px;
	font-size: 19px;
    color: #fff;
	pointer-events: all;
}
.etm_toggle .menu_bg {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 3000;
}
.etm_toggle .sidebar_menu{
	overflow-y: hidden;
	display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
	height: 100vh;
    background: #004B9E;
    z-index: 5000;
}
.etm_toggle .menu_wrap {
	padding: 180px;
	text-align: center;
}
.etm_toggle .menu_wrap li + li{
    margin-top: 36px;
} 
.etm_toggle .menu_wrap li a{
	font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #fff;
	pointer-events: all;
}
.etm_toggle .menu_wrap li a:hover {
	font-weight: 800;
	border-bottom: 1px solid #fff;
}
.etm_toggle .close_btn{
    padding: 25px 30px;
    text-align:right;
}
.etm_toggle .close_btn a{
    display:inline-block;
    color: #fff;
    font-size: 20px;
	pointer-events: all;
}
.close-side-widget {
	width: 24px;
    height: 24px;
    margin-top: 18px;
    opacity: .4;
	background:url('../images/cross-out.png') no-repeat;
}
.content-box {
	margin: 20px 0 60px 0;
}
.content-box li + li {
	margin-top: 16px;
}
.content-box ul li a {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}
.bg--300x420 {
	width: 300px;
	height: 420px;
	background: url('../images/resource/bg_ar_img_01.jpg') no-repeat;
}
.bg--153x194 {
	width: 153px;
	height: 194px;
	background: url('../images/resource/bg_ar_img_02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.bg--198x153 { 
	width: 198px;
	height: 153px;
	background: url('../images/resource/bg_bsn_06.jpg') no-repeat;
	background-position: 50% 50%;
    background-size: cover;
}
.bg--115x145 {
	width: 115px;
	height: 145px;
	background: url('../images/resource/bg_bsn_08.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.col-img {
	display: block;
}
.col-case {
	display: block;
}
.case-img-1,
.case-img-2,
.case-img-3 {
	width: 100%;
	height: 445px;
}
.case-img-4,
.case-img-5 {
	width: 100%;
	height: 445px;
}
.case-img-1 {
	background: url('../images/resource/case_bg_2.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.case-img-2 {
	background: url('../images/resource/case_bg_3.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.case-img-3 {
	background: url('../images/resource/case_bg_1.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.case-img-4 {
	background: url('../images/resource/case_bg_4.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.case-img-5 {
	background: url('../images/resource/bg_bsn_04.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.banner-section .content-column .market-status {
	display: inline-block;
	position:relative;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.banner-section .active .content-column .market-status {
	opacity: 1;
	transform: scaleY(1);
	-webkit-transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	-ms-transition-delay: 600ms;
	-o-transition-delay: 600ms;
	transition-delay: 600ms;
}

.market-status a {
	display: block;
	width: 100%;
	height: 100%;
}
.market-logo {
	width: 280px;
	height: 39px;
	background: url('../images/main/main_logo_05.png') no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.market-tit {
	padding-top: 24px;
    font-size: 18px;
    font-weight: 800;
	color: #fff;
}
.market-price {
	display: table;
    width: 100%;
    padding-top: 10px;
	font-size: 20px;
	color: #fff;
}
.market-price dl {
    display: table-cell;
    width: 160px;
}
.market-price dl dt {
	font-size: 13px;
    font-weight: 400;
    opacity: .8;
}
.market-price dl dd {
    font-size: 40px;
    font-weight: 800;
    margin-top: -12px;
    margin-bottom: 0;
}