openapi: 3.0.3
info:
  title: WIA Pet Emotion
  version: 1.0.0
  description: Pet emotion detection and behavioral state classification
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/pet-emotion/v1
  description: Production
- url: https://api-staging.wia.live/pet-emotion/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /pets:
    get:
      summary: List Pet
      operationId: listPet
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of pets
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pet'
                  total:
                    type: integer
    post:
      summary: Create Pet
      operationId: createPet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
  /pets/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Pet
      operationId: getPet
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
        '404':
          description: Not found
    put:
      summary: Replace Pet
      operationId: replacePet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Pet
      operationId: deletePet
      responses:
        '204':
          description: Deleted
  /emotion-readings:
    get:
      summary: List EmotionReading
      operationId: listEmotionReading
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of emotion-readings
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmotionReading'
                  total:
                    type: integer
    post:
      summary: Create EmotionReading
      operationId: createEmotionReading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmotionReading'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmotionReading'
  /emotion-readings/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get EmotionReading
      operationId: getEmotionReading
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmotionReading'
        '404':
          description: Not found
    put:
      summary: Replace EmotionReading
      operationId: replaceEmotionReading
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmotionReading'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete EmotionReading
      operationId: deleteEmotionReading
      responses:
        '204':
          description: Deleted
  /behavior-events:
    get:
      summary: List BehaviorEvent
      operationId: listBehaviorEvent
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of behavior-events
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BehaviorEvent'
                  total:
                    type: integer
    post:
      summary: Create BehaviorEvent
      operationId: createBehaviorEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviorEvent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorEvent'
  /behavior-events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get BehaviorEvent
      operationId: getBehaviorEvent
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorEvent'
        '404':
          description: Not found
    put:
      summary: Replace BehaviorEvent
      operationId: replaceBehaviorEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviorEvent'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete BehaviorEvent
      operationId: deleteBehaviorEvent
      responses:
        '204':
          description: Deleted
  /models:
    get:
      summary: List Model
      operationId: listModel
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
                  total:
                    type: integer
    post:
      summary: Create Model
      operationId: createModel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
  /models/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Model
      operationId: getModel
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '404':
          description: Not found
    put:
      summary: Replace Model
      operationId: replaceModel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Model
      operationId: deleteModel
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Pet:
      type: object
      properties:
        id:
          type: string
        species:
          type: string
        name:
          type: string
        breed:
          type: string
      required:
      - id
    EmotionReading:
      type: object
      properties:
        id:
          type: string
        petId:
          type: string
        emotion:
          type: string
        confidence:
          type: number
          format: double
        timestamp:
          type: string
          format: date-time
      required:
      - id
    BehaviorEvent:
      type: object
      properties:
        id:
          type: string
        petId:
          type: string
        category:
          type: string
        intensity:
          type: number
          format: double
      required:
      - id
    Model:
      type: object
      properties:
        id:
          type: string
        species:
          type: string
        version:
          type: string
        metricsUrl:
          type: string
      required:
      - id
