openapi: 3.0.3
info:
  title: WIA Pet Welfare Global
  version: 1.0.0
  description: Global companion-animal welfare indicators and incident reporting
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/pet-welfare-global/v1
  description: Production
- url: https://api-staging.wia.live/pet-welfare-global/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /regions:
    get:
      summary: List Region
      operationId: listRegion
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of regions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'
                  total:
                    type: integer
    post:
      summary: Create Region
      operationId: createRegion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
  /regions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Region
      operationId: getRegion
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
        '404':
          description: Not found
    put:
      summary: Replace Region
      operationId: replaceRegion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Region
      operationId: deleteRegion
      responses:
        '204':
          description: Deleted
  /welfare-indicators:
    get:
      summary: List WelfareIndicator
      operationId: listWelfareIndicator
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of welfare-indicators
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WelfareIndicator'
                  total:
                    type: integer
    post:
      summary: Create WelfareIndicator
      operationId: createWelfareIndicator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WelfareIndicator'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WelfareIndicator'
  /welfare-indicators/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get WelfareIndicator
      operationId: getWelfareIndicator
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WelfareIndicator'
        '404':
          description: Not found
    put:
      summary: Replace WelfareIndicator
      operationId: replaceWelfareIndicator
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WelfareIndicator'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete WelfareIndicator
      operationId: deleteWelfareIndicator
      responses:
        '204':
          description: Deleted
  /incidents:
    get:
      summary: List Incident
      operationId: listIncident
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
                  total:
                    type: integer
    post:
      summary: Create Incident
      operationId: createIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incident'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
  /incidents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Incident
      operationId: getIncident
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
        '404':
          description: Not found
    put:
      summary: Replace Incident
      operationId: replaceIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Incident'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Incident
      operationId: deleteIncident
      responses:
        '204':
          description: Deleted
  /organizations:
    get:
      summary: List Organization
      operationId: listOrganization
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  total:
                    type: integer
    post:
      summary: Create Organization
      operationId: createOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
  /organizations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Organization
      operationId: getOrganization
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Not found
    put:
      summary: Replace Organization
      operationId: replaceOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Organization
      operationId: deleteOrganization
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Region:
      type: object
      properties:
        id:
          type: string
        country:
          type: string
        subdivision:
          type: string
      required:
      - id
    WelfareIndicator:
      type: object
      properties:
        id:
          type: string
        regionId:
          type: string
        metric:
          type: string
        value:
          type: number
          format: double
        year:
          type: integer
          format: int64
      required:
      - id
    Incident:
      type: object
      properties:
        id:
          type: string
        regionId:
          type: string
        category:
          type: string
        severity:
          type: string
      required:
      - id
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        regionId:
          type: string
      required:
      - id
