openapi: 3.0.3
info:
  title: WIA AI Robot Interface
  version: 1.0.0
  description: Unified REST + WSS interface for state, sensor streams, and capability discovery
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/ai-robot-interface/v1
  description: Production
- url: https://api-staging.wia.live/ai-robot-interface/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /robots:
    get:
      summary: List Robot
      operationId: listRobot
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of robots
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Robot'
                  total:
                    type: integer
    post:
      summary: Create Robot
      operationId: createRobot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Robot'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Robot'
  /robots/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Robot by id
      operationId: getRobot
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Robot'
        '404':
          description: Not found
    put:
      summary: Replace Robot
      operationId: replaceRobot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Robot'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Robot
      operationId: deleteRobot
      responses:
        '204':
          description: Deleted
  /states:
    get:
      summary: List State
      operationId: listState
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of states
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/State'
                  total:
                    type: integer
    post:
      summary: Create State
      operationId: createState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/State'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
  /states/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get State by id
      operationId: getState
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
        '404':
          description: Not found
    put:
      summary: Replace State
      operationId: replaceState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/State'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete State
      operationId: deleteState
      responses:
        '204':
          description: Deleted
  /sensors:
    get:
      summary: List Sensor
      operationId: listSensor
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of sensors
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sensor'
                  total:
                    type: integer
    post:
      summary: Create Sensor
      operationId: createSensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sensor'
  /sensors/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Sensor by id
      operationId: getSensor
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sensor'
        '404':
          description: Not found
    put:
      summary: Replace Sensor
      operationId: replaceSensor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Sensor
      operationId: deleteSensor
      responses:
        '204':
          description: Deleted
  /capabilities:
    get:
      summary: List Capability
      operationId: listCapability
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Capability'
                  total:
                    type: integer
    post:
      summary: Create Capability
      operationId: createCapability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Capability'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capability'
  /capabilities/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Capability by id
      operationId: getCapability
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capability'
        '404':
          description: Not found
    put:
      summary: Replace Capability
      operationId: replaceCapability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Capability'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Capability
      operationId: deleteCapability
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Robot:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        model:
          type: string
        capabilities:
          type: array
          items: {}
      required:
      - id
    State:
      type: object
      properties:
        robotId:
          type: string
        pose:
          type: object
          additionalProperties: true
        status:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
      - robotId
    Sensor:
      type: object
      properties:
        id:
          type: string
        robotId:
          type: string
        type:
          type: string
        rate:
          type: number
          format: double
      required:
      - id
    Capability:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        schema:
          type: object
          additionalProperties: true
      required:
      - name
