openapi: 3.0.3
info:
  title: WIA AI Motor Control
  version: 1.0.0
  description: Motor registration, command issuance, and trajectory tracking for AI-driven actuators
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/motor-control/v1
  description: Production
- url: https://api-staging.wia.live/motor-control/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /motors:
    get:
      summary: List Motor
      operationId: listMotor
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of motors
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Motor'
                  total:
                    type: integer
    post:
      summary: Create Motor
      operationId: createMotor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Motor'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Motor'
  /motors/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Motor by id
      operationId: getMotor
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Motor'
        '404':
          description: Not found
    put:
      summary: Replace Motor
      operationId: replaceMotor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Motor'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Motor
      operationId: deleteMotor
      responses:
        '204':
          description: Deleted
  /commands:
    get:
      summary: List Command
      operationId: listCommand
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of commands
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Command'
                  total:
                    type: integer
    post:
      summary: Create Command
      operationId: createCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Command'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
  /commands/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Command by id
      operationId: getCommand
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
        '404':
          description: Not found
    put:
      summary: Replace Command
      operationId: replaceCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Command'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Command
      operationId: deleteCommand
      responses:
        '204':
          description: Deleted
  /trajectories:
    get:
      summary: List Trajectory
      operationId: listTrajectory
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of trajectories
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trajectory'
                  total:
                    type: integer
    post:
      summary: Create Trajectory
      operationId: createTrajectory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trajectory'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trajectory'
  /trajectories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Trajectory by id
      operationId: getTrajectory
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trajectory'
        '404':
          description: Not found
    put:
      summary: Replace Trajectory
      operationId: replaceTrajectory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trajectory'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Trajectory
      operationId: deleteTrajectory
      responses:
        '204':
          description: Deleted
  /calibrations:
    get:
      summary: List Calibration
      operationId: listCalibration
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of calibrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Calibration'
                  total:
                    type: integer
    post:
      summary: Create Calibration
      operationId: createCalibration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calibration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calibration'
  /calibrations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Calibration by id
      operationId: getCalibration
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calibration'
        '404':
          description: Not found
    put:
      summary: Replace Calibration
      operationId: replaceCalibration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calibration'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Calibration
      operationId: deleteCalibration
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Motor:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        status:
          type: string
        position:
          type: number
          format: double
        velocity:
          type: number
          format: double
      required:
      - id
    Command:
      type: object
      properties:
        id:
          type: string
        motorId:
          type: string
        type:
          type: string
        payload:
          type: object
          additionalProperties: true
        status:
          type: string
      required:
      - id
    Trajectory:
      type: object
      properties:
        id:
          type: string
        motorId:
          type: string
        waypoints:
          type: array
          items: {}
        duration:
          type: number
          format: double
      required:
      - id
    Calibration:
      type: object
      properties:
        id:
          type: string
        motorId:
          type: string
        offsets:
          type: object
          additionalProperties: true
        calibratedAt:
          type: string
          format: date-time
      required:
      - id
