openapi: 3.0.3
info:
  title: WIA Agricultural Robot
  version: 1.0.0
  description: Autonomous agricultural-robot fleet registration, telemetry, and task assignment
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/agricultural-robot/v1
  description: Production
- url: https://api-staging.wia.live/agricultural-robot/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /robots:
    get:
      summary: List Robot
      operationId: listRobot
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of robots
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Robot'
                  total:
                    type: integer
    post:
      summary: Create Robot
      operationId: createRobot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Robot'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Robot'
  /robots/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Robot by id
      operationId: getRobot
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Robot'
        '404':
          description: Not found
    put:
      summary: Replace Robot
      operationId: replaceRobot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Robot'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Robot
      operationId: deleteRobot
      responses:
        '204':
          description: Deleted
  /telemetry:
    get:
      summary: List Telemetry
      operationId: listTelemetry
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of telemetry
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Telemetry'
                  total:
                    type: integer
    post:
      summary: Create Telemetry
      operationId: createTelemetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Telemetry'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Telemetry'
  /telemetry/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Telemetry by id
      operationId: getTelemetry
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Telemetry'
        '404':
          description: Not found
    put:
      summary: Replace Telemetry
      operationId: replaceTelemetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Telemetry'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Telemetry
      operationId: deleteTelemetry
      responses:
        '204':
          description: Deleted
  /tasks:
    get:
      summary: List Task
      operationId: listTask
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  total:
                    type: integer
    post:
      summary: Create Task
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /tasks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Task by id
      operationId: getTask
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Not found
    put:
      summary: Replace Task
      operationId: replaceTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Task
      operationId: deleteTask
      responses:
        '204':
          description: Deleted
  /field-maps:
    get:
      summary: List FieldMap
      operationId: listFieldMap
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of field-maps
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FieldMap'
                  total:
                    type: integer
    post:
      summary: Create FieldMap
      operationId: createFieldMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldMap'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMap'
  /field-maps/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get FieldMap by id
      operationId: getFieldMap
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMap'
        '404':
          description: Not found
    put:
      summary: Replace FieldMap
      operationId: replaceFieldMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldMap'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete FieldMap
      operationId: deleteFieldMap
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Robot:
      type: object
      properties:
        id:
          type: string
        model:
          type: string
        status:
          type: string
        battery:
          type: number
          format: double
        location:
          type: object
          additionalProperties: true
      required:
      - id
    Telemetry:
      type: object
      properties:
        robotId:
          type: string
        timestamp:
          type: string
          format: date-time
        metrics:
          type: object
          additionalProperties: true
      required:
      - robotId
    Task:
      type: object
      properties:
        id:
          type: string
        robotId:
          type: string
        type:
          type: string
        status:
          type: string
        priority:
          type: integer
          format: int64
      required:
      - id
    FieldMap:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        boundary:
          type: object
          additionalProperties: true
        zones:
          type: array
          items: {}
      required:
      - id
