openapi: 3.0.3
info:
  title: WIA AI Embodiment Ethics
  version: 1.0.0
  description: Ethical-evaluation and consent tracking for embodied AI systems
  license:
    name: MIT
  contact:
    name: WIA — World Certification Industry Association
servers:
- url: https://api.wia.live/embodiment-ethics/v1
  description: Production
- url: https://api-staging.wia.live/embodiment-ethics/v1
  description: Staging
security:
- apiKey: []
- oauth2:
  - read
  - write
paths:
  /agents:
    get:
      summary: List Agent
      operationId: listAgent
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  total:
                    type: integer
    post:
      summary: Create Agent
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
  /agents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Agent by id
      operationId: getAgent
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Not found
    put:
      summary: Replace Agent
      operationId: replaceAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Agent
      operationId: deleteAgent
      responses:
        '204':
          description: Deleted
  /ethics-checks:
    get:
      summary: List EthicsCheck
      operationId: listEthicsCheck
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of ethics-checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthicsCheck'
                  total:
                    type: integer
    post:
      summary: Create EthicsCheck
      operationId: createEthicsCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthicsCheck'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EthicsCheck'
  /ethics-checks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get EthicsCheck by id
      operationId: getEthicsCheck
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EthicsCheck'
        '404':
          description: Not found
    put:
      summary: Replace EthicsCheck
      operationId: replaceEthicsCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthicsCheck'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete EthicsCheck
      operationId: deleteEthicsCheck
      responses:
        '204':
          description: Deleted
  /consents:
    get:
      summary: List Consent
      operationId: listConsent
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of consents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consent'
                  total:
                    type: integer
    post:
      summary: Create Consent
      operationId: createConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consent'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
  /consents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Consent by id
      operationId: getConsent
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
        '404':
          description: Not found
    put:
      summary: Replace Consent
      operationId: replaceConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consent'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Consent
      operationId: deleteConsent
      responses:
        '204':
          description: Deleted
  /policies:
    get:
      summary: List Policy
      operationId: listPolicy
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
          maximum: 200
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Page of policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
                  total:
                    type: integer
    post:
      summary: Create Policy
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
  /policies/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Policy by id
      operationId: getPolicy
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '404':
          description: Not found
    put:
      summary: Replace Policy
      operationId: replacePolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
      responses:
        '200':
          description: Replaced
    delete:
      summary: Delete Policy
      operationId: deletePolicy
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.wia.live/oauth/authorize
          tokenUrl: https://auth.wia.live/oauth/token
          scopes:
            read: Read access
            write: Write access
  schemas:
    Agent:
      type: object
      properties:
        id:
          type: string
        embodimentType:
          type: string
        ethicsProfile:
          type: string
        certifiedAt:
          type: string
          format: date-time
      required:
      - id
    EthicsCheck:
      type: object
      properties:
        id:
          type: string
        agentId:
          type: string
        policyId:
          type: string
        verdict:
          type: string
        score:
          type: number
          format: double
      required:
      - id
    Consent:
      type: object
      properties:
        id:
          type: string
        subjectId:
          type: string
        agentId:
          type: string
        scope:
          type: string
        status:
          type: string
      required:
      - id
    Policy:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        rules:
          type: array
          items: {}
      required:
      - id
